body{
  position: absolute;
  top:0;
  left:0;
  }

.header{
  font-family: sans-serif;
  color: snow;
  border: transparent;
  text-transform: capitalize;
}

.log-in{
  font-family: serif;
  font-weight: bold;
  color: white;
}

.login-header{  
  color: aliceblue;
  font-family: sans-serif;

}
.sign-up{
  color: aliceblue;
  font-family: sans-serif;
}

.log-in-button{
  margin: 23px;
  font-family: 'Lucida Sans Regular';
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  white-space: normal;
  cursor: pointer;
  color: #fff !important;
  background: gray !important;
  border-color: #111 !important;
}

.recruiter-button{
  display: inline-block;
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,.5);
  background-color: #fff;
  border: 1px solid;
  padding: 0;
  cursor: pointer;
  border-radius: 8px;
  margin: 23px;
}

.recruiter-button:hover{
  background-image: linear-gradient(red,orange,yellow);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.candidate-button{
  display: inline-block;
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,.5);
  background-color: #fff;
  border: 1px solid;
  padding: 0;
  cursor: pointer;
  border-radius: 8px;
  margin: 23px;
}

.candidate-button:hover{
  background-image: linear-gradient(red,orange,yellow);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.OR-option{
  font-family: sans-serif;
}

.officeImg{
  z-index: -1;
  width: 100%;
  position: absolute;
  top:0;
  height: 100%;
  left:0;
}

.home{
  background-color:rgba(0,0,0,.4);
  position: absolute;
}